node_modules/
package-lock.json
.DS_Store
.env
*.log
.idea/
webinar_temp/
*.zip
.svelte-kit

# Python bytecode cache
__pycache__/
*.pyc

# MS Office temporary lock files
~$*

# Windows shortcuts
*.lnk