/* ========== ОБЩИЕ СТИЛИ ========== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
    background-color: #f3f4f6;
    color: #374151;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #1D4ED8;
}